
/* Your CSS Code here. */
#button-1{
	background-color:#4E25FF;
}
#button-2{
	/* background-color:#FFFFFF;
	color:black;
	border:1px solid black; */
}
#button-3{
}
#button-4{
	
}
#button-5{
	/* width:100%; */
}
#button-6{
	
}
#button-7{
	
}
#button-8{
	text-decoration:underline darkmagenta;
}
